* {
    margin: 0;
    padding: 0;
}

body{
   background-color: beige;
}
.blog-image {

    min-width: 100%;
    height: 50vh;
   
}

.blog-image img {
    height: 100%;
    width: 100%;
}

.blog {
    margin: auto;
    min-height: 80vh;
    width: 60rem;
    display: flex;
    flex-direction: column;
}

.blog-heading {
    font-size: 4rem;
    ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10rem;
}

.blog-content {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 70vh;

}

.comment-section {
    margin: auto;
    height: 85vh;
    width: 50vw;

}

.comment-display {
    padding: 2rem;
    height: 50vh;
    overflow: scroll;
}

.comment {
    border-radius: 0.5rem;
  height: 10rem;
  width: 25rem;
  background-color: #86674b8a;
  margin: 1rem;
  color: white;
  padding: 0.5 rem;
  padding: 0.5rem;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.134)
}

.comment-head {
    box-sizing: border-box;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-head img {
    width: 2rem;
}

.add-comment {
    padding: 1rem;
    min-height: 40vh;
}

.add-comment textarea {
    display: block;
    margin: auto;
    width: 80%;
    min-height: 30vh;
    padding: 1rem;
    font-size: 1rem;
}

.add-comment-buttons {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    width: 80%;
    height: 3rem;
}

.add-comment-buttons button {
    margin:1rem;
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
    background: rgb(7, 92, 7);
    border: 1px solid green;
    border-radius: 3rem;
    
}

.add-comment-buttons button:last-child{
    background-color: rgb(109, 10, 10);
    border:1px solid rgb(109, 10, 10);
    width:5rem;
}